.backgroundImageDiv {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

.trans-1 {transition: opacity 1s ease-in-out 0s;-webkit-transition: opacity 1s ease-in-out 0s;}

.gradient-1 {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, 0.50) 100%);
}

.gradient-2 {
	background: linear-gradient(to bottom, #000, transparent 40%), linear-gradient(to top, #000, transparent 30%);
	opacity: .8;
}

.gradient-3 {
	background: #000;
	opacity: .7;
}

.t-gradient {
  background-image: -webkit-linear-gradient(#fff 50%, transparent 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.blur {
  -webkit-filter: blur(50px) saturate(3);
  opacity: .7;
}